{% extends "base.html" %}

{% block content %}
    <h2>Tournoi : {{ tournoi.nom }}</h2>
    <p>Match : {{ match.niveau }} - {{ match.numero_match }}</p>

    <div style="text-align:start">
        <p>Date et heure de lancement du match : {{ match.heure_lancement }}</p>
        {% if timePassed %}
            <p>Vainqueur : {{ match.vainqueur }}</p>
        {% else %}
            <p>Le vainqueur sera annoncé à la fin du match</p>
        {% endif %}

        <p>{{ match.loutre1 }} de {{ match.loutre1.village }} affronte {{ match.loutre2.nom }} de {{ match.loutre2.village }} dans un match de {{ tournoi.categorie }}</p>

        <p>{{ message }}</p>

        <div>
            <ul>
                <li>
                    {{ match.loutre1.nom }} {{ match.loutre1.prenom }} de {{ match.loutre1.village }}
                    {% if not timePassed %}
                        {% if user.is_authenticated %}
                            <button><a href="{% url 'registerbet' tournoi.pk match.pk match.loutre1.pk %}">Parier</a></button>
                        {% else %}
                            <a href="{% url "signup" %}">Se connecter pour parier</a>
                        {% endif %}
                    {% endif %}

                </li> 
                <li>
                    {{ match.loutre2.nom }} {{ match.loutre2.prenom }} de {{ match.loutre2.village }}
                    {% if not timePassed %}
                        {% if user.is_authenticated %}
                            <button><a href="{% url 'registerbet' tournoi.pk match.pk match.loutre2.pk %}">Parier</a></button>
                        {% else %}
                            <a href="{% url "signup" %}">Se connecter pour parier</a>
                        {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}