<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href={% static "css/main.css" %} />
	</head>
    
    <body>
        <header>
            <h1>Otter Games</h1>
            <nav>
                <a href="{% url 'login' %}">Connexion</a>
                {% if user.is_authenticated %}
                    <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
                    <a href="{% url "profil" %}">Mon profil</a>
                {% endif %}
                <a href="/auth/register/">Inscription</a>
            </nav>
        </header>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>





