{% extends "base.html" %}

{% block content %}
    <h1>Page d'accueil</h1>

    <h2>Otter Games — Les Jeux Olympiques des Loutres 🦦</h2>
    <p><br>Bienvenue dans l’univers des Otter Games, une compétition légendaire où les loutres les plus vaillantes s’affrontent pour défendre l’honneur de leur village !</p>

    <h3>Chaque année, les villages de loutres envoient leurs meilleurs représentants pour participer à une série d’épreuves aussi loufoques que spectaculaires :</h3>
    <ul style="text-align: start">
        <br>
        <li>Courses aquatiques effrénées,</li>
        <li>Lancer de coquillages,</li>
        <li>Ouverture chronométrée de palourdes,</li>
        <li>Précision de jet d'algues,</li>
        <li>et bien plus encore...</li>
    </ul>

    <h3>Le but ?</h3>
    <p><br> Montrer que leur village est le plus fort, le plus rapide, le plus malin — le champion incontesté du royaume des rivières.</p>

    <p>En tant que spectateur, vous pouvez parier sur vos loutres préférées, suivre leur progression dans les tournois, et engranger des récompenses si votre instinct ne vous trahit pas.</p>

{% endblock content %}