{% extends "base.html" %}

{% block content %}
    <h1>Page d'accueil</h1>

    <h2>Qu'est ce que Otter Games ?</h2>
    <p><br>Bienvenue dans l'univers palpitant des Tournois de Loutres ! <br> Ici, les loutres les plus talentueuses s'affrontent dans des compétitions aussi variées qu'insolites : des courses effrénées à travers les rivières sinueuses, des défis d'ouverture de palourdes chronométrés, et même des duels d'adresse pour empiler des coquillages. Chaque tournoi met à l'épreuve la rapidité, l'agilité et l'ingéniosité de nos petites athlètes à moustaches. En pariant sur votre loutre favorite, vous pouvez tester votre flair et remporter des récompenses si elle triomphe ! Préparez-vous à suivre les matchs en direct et vibrez au rythme des exploits aquatiques de nos adorables compétitrices.</p>

    <h2>Comment parier sur une loutre ?</h2>
    <ul style="text-align: start">
        <br>
        <li>Choisissez un match : Parcourez les tournois et cliquez sur le match qui vous intéresse.</li>
        <li>Sélectionnez votre loutre favorite : Deux loutres s'affrontent, à vous de miser sur celle qui vous semble la plus prometteuse !</li>
        <li>Cliquez sur "Parier" : En un clic, votre pari est enregistré.</li>
        <li>Attendez le résultat : Une fois le match terminé, si votre loutre gagne, vous remportez +1 point de récompense !</li>
        <li>Cumulez les victoires : Plus vous misez juste, plus vous grimpez dans le classement des meilleurs parieurs.</li>
    </ul>
{% endblock content %}